[Unit]
Description=Run Stooq Downloader at 06:00 KST (16:00 EST) on Tuesday through Saturday

[Timer]
OnCalendar=Tue..Sat *-*-* 08:00:00

[Install]
WantedBy=timers.target
